.painting-info.hint {
  font-size: 15px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  border: 4px solid #646cff;
}

.painting-name {
  font-style: italic;
  color: #f2b253;
}
