.shapeRight,
.shapeLeft {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1b263b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid black;
}

.shapeRight {
  clip-path: inset(0 0 0 8px);
  right: -11.8px;
}

.shapeLeft {
  clip-path: inset(0 0 0 8px);
  left: -9.5px;
}


.text {
    text-align: center;
    flex-grow: 1;
    color: #ffc107;
  }
  