.main-page-container {
  height: 100%;
  object-fit: fill;
  background-image: url("../../assets/images/bg/main_bg.png");
  object-fit: fill;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 10px;
  background-color: #03071e;
  overflow: hidden;
}
